.input {
	background: var(--color-background);
	border: 1px solid var(--color-border);
	color: var(--color-text);
	padding: var(--spacer);

	&::placeholder {
		color: var(--color-border);
	}

	&.alert {
		border-color: var(--color-alert);
	}
}
