:root {
	--color-background: #fff;
	--color-border: #aaa;
	--color-primary: #065fd4;
	--color-secondary: #e4e6eb;
	--color-alert: #c00;
	--color-links: #00709a;
	--color-text: #333;

	--container-width: 1200px;
	--spacer: 10px;

	.dark {
		--color-background: #333;
		--color-border: #ccc;
		--color-secondary: #555;
		--color-alert: #ff6a8c;
		--color-links: #00a9eb;
		--color-text: #fff;
	}
}
