.btn {
	--btn-background-color: none;
	--btn-text-color: none;

	background: var(--btn-background-color);
	border: none;
	border-radius: var(--spacer);
	color: var(--btn-text-color);
	cursor: pointer;
	padding: var(--spacer);
	text-decoration: none;

	&.primary {
		--btn-background-color: var(--color-primary);
		--btn-text-color: var(--color-text);
	}

	&.secondary {
		--btn-background-color: var(--color-secondary);
		--btn-text-color: var(--color-text);
	}

	&:disabled {
		--btn-background-color: #e4e4e4;
		--btn-text-color: black;
		cursor: default;
	}
}
