{
	"presets": [
		[
			"next/babel",
			{
				"styled-jsx": {
					"optimizeForSpeed": true,
					"plugins": [
						[
							"styled-jsx-plugin-sass",
							{
								"sassOptions": {
									"includePaths": ["./node_modules"],
									"precision": 2
								}
							}
						]
					]
				}
			}
		]
	]
}
