@import 'normalize.css/normalize.css';
@import './_partials/variables';
@import './_partials/fonts';
@import './_partials/buttons.scss';
@import './_partials/inputs.scss';
@import './_partials/messages.scss';

html {
	font-size: 62.5%;

	body {
		background-color: var(--color-background);
		color: var(--color-text);
		font-family: Helvetica, Arial, sans-serif;
		font-size: 1.6rem;

		&,
		* {
			box-sizing: border-box;
		}
	}
}
